<!--REMEMBER TO ADD CORRECT ICON SIZES TO RESOURCE FOLDER-->
<ActionBar class="action-bar" title="Home">
    <ActionItem *ngIf="devMode" (tap)="devTest()" android.systemIcon="ic_menu_settings_holo_light" android.position="right"></ActionItem>
    <ActionItem *ngIf="devMode" (tap)="devGenerateEvents()" android.systemIcon="ic_menu_add" android.position="right"></ActionItem>
    <ActionItem *ngIf="devMode" (tap)="devDeleteList()" android.systemIcon="ic_menu_clear_playlist" android.position="right"></ActionItem>
</ActionBar>



<StackLayout class="container-SL container-SL">
    <Label *ngIf="hasEvent == false" class="top-text label " text="Hmm... Looks kinda empty"></Label>
    <Label *ngIf="hasEvent == false" text="Try adding an event :)"></Label>
    <!--<LineProgressBar *ngIf="hasEvent == false" [p3-->
    <ListView [items]="eventList" (itemTap)="eventListTap()" class="list-group">
        <template let-item="item" let-odd="odd" let-even="even">
            <CardView (tap)="eventListTap()" class="cardStyle" margin="8" elevation="30" radius="4">
                <StackLayout class="card-SL form">
                    <StackLayout orientation="horizontal">
                        <Label [text]="item.getTitle()" class="card-label h3 font-weight-bold pull-left text-primary list-title"></Label>
                        <LineProgressBar [progress]="progressValue" widthProgressBackground="50" widthProgressBarLine="50" backgroundColor="white"
                            progressColor="blue" linearGradient="false" width="200" class="progress-bar"></LineProgressBar>
                    </StackLayout>
                    <StackLayout>
                        <Label class="card-label pull-left body" [text]="item.getDescription()"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label class="card-label pull-right font-italic" col="0" row="2" text="time"></Label>
                        <Label class="card-label pull-right font-italic" col="1" row="2" text="!!"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Button class="btn btn-primary" text="Edit" (tap)="editBtn()"></Button>
                        <Button class="btn btn-primary" text="Extend time" (tap)="extendTimeBtn()"></Button>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </template>
    </ListView>
</StackLayout>

<fab [nsRouterLink]="['/event']" hideOnSwipeOfView="true" swipeAnimation="true" android.icon="res://ic_add_white.png" rippleColor="#006968" class="fab-button"></fab>
