label {
    /*vertical-align: center;*/
    text-align: center;
    /*color: white;*/
}

.container-SL {
    /*color: navajowhite;*/
    color: black;
    background-color: #e4e4e4;
}


.card-label {
    margin-top: 15px;
    margin-left: 15px;
}

.progress-bar {
    margin-top: 22px;
    margin-left: 10px;
}

.event-item {
color: blue;
backgroundColor: orange;
margin: 30px;
}


progress {
width: 100%;
margin-right: 15px;
/*margin-left: 15px;*/
color: red;
}

.top-text {
    margin-top: 35%;
}

.cardStyle {
    background-color: white;
    color: #ffffff;
    margin: 15px;
}

.fab-button {
    height: 70;
    margin: 15;
    background-color: #FF9105; 
    horizontal-align: right; 
    vertical-align: bottom; 
}

.add-btn {
    margin-top: 40%;
}
